{% extends 'base.html' %}
{% load static %}

{% block page_content %}
    <div class="main-content">
        <div class="container mt-5">
            <div class="row">
                <div class="col-lg-5">
                        <form action="" method="" class="form-row">
                            <div class="col-auto margin-left-auto ml-auto ml-lg-0 ">
                                <label for="search_q" class="form-label invisible">Search For Blog Post</label>
                                <input class="form-control" placeholder="Search for post" name="search_q" type="search" id="search_q"/>
                            </div>
                            <div class="col-auto mt-auto mr-auto ml-lg-0">
                                <button class="btn btn-primary" type="submit">Search</button>
                            </div>
                        </form>
                </div>
                <div class="col-lg-7">
                        <div class="row justify-content-center"> Post</div>
                        <div class="row justify-content-center"> Post</div>
                        <div class="row justify-content-center"> Post</div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}